body {
    background-color: pink;
    background-image: url("/img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    /* background-image: url("");
    background-repeat: ; */

}

/* h1 {
    background-color: black;
    color: white;
    background-image:url("/img/1.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} */