body {
    background-color: gray;
}

.bx {
    background-color: azure;
    height: 100px;
    width: 100px;
    padding: 50px;
    border: 5px solid greenyellow;
    border-left: 10px solid;
    border-right: 10px solid;
    margin-top: 10px;
   border-radius:  100% 0% 0% 100% / 100% 0% 100% 0% ;

}

.ax {
    background-color: pink;
    height: 200px;
    width: 190px;
    padding: 5px;
    border: 5px solid blueviolet;
    border-radius: 80% 20% 70% 30% / 57% 30% 70% 43% ;
    border-left: 10px solid green;
    border-top: 10px solid green;
    margin-top: 0%;

}

.cx {
    background-color: skyblue;
    height: 50px;
    width: 200px;
    padding: 50px;
    border: 5px solid navy;
    border-radius: 100px;
    border-left: 10px solid purple;
    border-right: 10px solid red;

}

.dx {
    background-color: yellowgreen;
    height: 70px;
    width: 250px;
    padding: 50px;
    border: 5px solid black;
    border-radius: 10px;
    border-top: 10px solid pink;
    border-bottom: 10px solid pink;
    overflow: scroll;
}